.mdl-card {
    align-items: center;
    margin-bottom: 1em;
    display: flex;
}
.test {
    justify-content: center;
    align-items: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    height: 100%;
}
#error {
    color: red;
}