<div class="test">
    <mdl-card mdl-shadow="2">
        <mdl-textfield type="text" label="Username..." [(ngModel)]="user.username" required floating-label></mdl-textfield>
        <mdl-textfield type="password" label="Password..." [(ngModel)]="user.password" required floating-label></mdl-textfield>

        <span id="error">{{error}}</span>
        <mdl-card-actions>
            <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="login()">
                Login
            </button>

            <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="logout()">
                Logout
            </button>

            <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="testSpillelistePost()">
                testPost()
            </button>
            <!--<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="createTestUser()">
                testUser()
            </button>-->
        </mdl-card-actions>

    </mdl-card>
</div>