<div *ngIf="dataAvailable" style="display: flex; justify-content: center; align-items: center; height: 100%">

    <mdl-card mdl-shadow="4" style="width: 800px; height: auto">
        <mdl-card-title>
            <h2>Popular tags</h2>
        </mdl-card-title>
        <angular-tag-cloud
            [width]="800"
            [height]="400"
            [data]="cloudData"
            [removeOverflow]="true"
        >

        </angular-tag-cloud>

    </mdl-card>
</div>
