h1{
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5{
    width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset{
    border: none;
}

.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style-5 input {
  font-family: Georgia, "Times New Roman", Times, serif;
   background: rgba(255,255,255,.1);
   border: none;
   border-radius: 4px;
   font-size: 16px;
   margin: 0;
   outline: 0;
   padding: 7px;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   background-color: #e8eeef;
   color:#8a97a0;
   -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
   box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
   margin-bottom: 30px;

}

.form-style-5 input:focus{
  background: #d2d9dd;
}

.form-style-5 button {
  position: relative;
   display: block;
   padding: 19px 39px 18px 39px;
   color: #FFF;
   margin: 0 auto;
   background: #2ebd59;
   font-size: 18px;
   text-align: center;
   font-style: normal;
   width: 100%;
   border: 1px solid #16a085;
   border-width: 1px 1px 3px;
   margin-bottom: 10px;
}

.form-style-5 button:hover
{
    background: #109177;
}
