<h1>Upload playlist</h1>

<div class="form-style-5">
<fieldset>

<form (ngSubmit)="onSubmit()" #form="ngForm">

<legend><span class="number">1</span> Playlist details</legend>

Playlist name:<br>
<input [(ngModel)]="playlist.name" name="name" placeholder="Enter playlist name.."><br>
Spotify URI:<br>
<input type="text" [(ngModel)]="playlist.spotifyURI" name="spotifyURI" placeholder="Enter spotify URI..">


<legend><span class="number">2</span> Tags</legend>


<tag-input [(ngModel)]='playlist.tags'
[autocompleteItems]="autocompleteItems"
[autocomplete]="true"
name="taginput">
</tag-input>

<button type="submit" name="submit">Submit</button>
</form>
</fieldset>

<simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications>






</div>
