h1 {
    color: lightblue;
    text-align: center;
}
.search {
    border-color: lightgray;
    border-width: 3px;
    border-style: solid;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 1em;
}