<h1>{{title}}</h1>

<mdl-card mdl-shadow="2" style="margin: auto; dispaly: flex; justify-content: center; align-items: center; min-height: 100px !important; width: 320px;">
    <mdl-textfield type="text" label="Search..." [(ngModel)]="search" floating-label (keypress)="startSearch()" autofocus></mdl-textfield>
    <mdl-card-actions>
        <mdl-radio name="group1" value="name" [(ngModel)]="radioOption" mdl-ripple>Name</mdl-radio>
        <mdl-radio name="group1" value="tag" [(ngModel)]="radioOption" mdl-ripple>Tag</mdl-radio>
    </mdl-card-actions>
</mdl-card>


<div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top:20px;">
    <mdl-card mdl-shadow="2" *ngFor="let playlist of playlists" style="width: 200px; height: 200px; display: block; margin: 10px;">
        <mdl-card-title mdl-card-expand>
            {{playlist.name}}
        </mdl-card-title>
        <p>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple (click)="redirect(playlist.spotifyURI)">
            Listen on Spotify
          </button>
        </p>
        <mdl-card-supporting-text>
            <mdl-chip *ngFor="let tag of playlist.tags" mdl-label="{{tag}}"></mdl-chip>
        </mdl-card-supporting-text>
    </mdl-card>
</div>
