<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed mdl-layout-fixed-drawer>
    <mdl-layout-header>
        <mdl-layout-header-row >
            <mdl-layout-title><a style="text-decoration: none; color: white" routerLink="/dahsboard">Playlstr</a></mdl-layout-title>
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <header>
            <mdl-icon id="icon">account_circle</mdl-icon>
        </header>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/dashboard">Home</a>
            <a class="mdl-navigation__link" routerLink="/browse">Browse</a>
            <a class="mdl-navigation__link" routerLink="/playlists">Playlists</a>
            <a class="mdl-navigation__link" routerLink="/login">Login</a>
            <a class="mdl-navigation__link" routerLink="/register">Register</a>
            <a class="mdl-navigation__link" routerLink="/upload">Upload</a>
            <a class="mdl-navigation__link" routerLink="/myPage">My Page</a>
        </nav>
    </mdl-layout-drawer>
    <mdl-layout-content class="demo-content">

        <router-outlet></router-outlet>

    </mdl-layout-content>
</mdl-layout>
