mdl-layout-drawer header {
    height: 150px;
    width: 100%;
    background-color: lightgray;
}

#icon {
    font-size: 64px;
    margin-top: 15%;
    margin-left: 35%;
}

.mdl-layout__drawer-button mdl-icon {
    margin-top: 30px !important;
    color: white;
    vertical-align: 48%;
    margin-top: 0.40em;
}
