<div class="details" *ngIf="playlist">
    <h2>{{playlist.name}} </h2>
    <h3>By {{playlist.creator.username}}</h3>

    <iframe [src]="widget" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

    <tag-input [(ngModel)]='playlist.tags'
    [readonly] = 'true'
    name="taginput">
    </tag-input>

</div>
