/*.selected {*/
    /*background-color: #CFD8DC !important;*/
    /*color: white;*/
/*}*/
/*.playlists {*/
    /*margin: 0 0 2em 0;*/
    /*list-style-type: none;*/
    /*padding: 0;*/
/*}*/
/*.playlists .playlist {*/
    /*position: relative;*/
    /*width: 30em;*/
    /*height: 7em;*/
    /*border-radius: 10px;*/
    /*margin: 1em;*/
/*}*/
/*.playlist .image {*/
    /*position: absolute;*/
    /*width: 5em;*/
    /*height: 5em;*/
    /*top: 1em;*/
    /*left: 1em;*/
/*}*/
/*.playlist .name {*/
    /*position: absolute;*/
    /*top: 5%;*/
    /*left: 30%;*/
/*}*/
/*.playlist .tag {*/
    /*position: absolute;*/
    /*font-size: 15px;*/
    /*left: 30%;*/
    /*top: 50%;*/
    /*border-radius: 25px;*/
    /*padding: 5px;*/
    /*background-color: lightgreen;*/

/*}*/
/*.playlist:hover {*/
    /*background-color: lightgrey;*/
/*}*/

.mdl-list-item {
    display: inline;
}

mdl-card {
    width: 100%;
}
.playlist:hover {
    background-color: lightgrey;
}

.playlist-detail{
  position: fixed;
 width: 400px;
 height: 200px;

 margin-left: 100px; /*half the width*/
}
