<div class=playlist-detail>
  <playlist-detail [playlist]="selectedPlaylist" ></playlist-detail>
</div>

<!--<div>-->
    <!--<h2>Spillelister</h2>-->
    <!--<div class="playlists">-->
        <!--<div class="playlist" *ngFor="let playlist of playlists" (click)="onSelect(playlist)">-->
            <!--<img class="image" alt="placeholder" src="" />-->
            <!--<h2 class="name">{{playlist.name}}</h2>-->
            <!--<div class="tag" *ngFor="let tag of playlist.tags">-->
              <!--<span>{{tag}}</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">

        <mdl-list>
            <mdl-list-item *ngFor="let playlist of playlists" (click)="onSelect(playlist)" lines="2" mdl-ripple mdl-shadow="2">
                <mdl-list-item-primary-content>
                    <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                    <span>{{playlist.name}}</span>
                    <mdl-list-item-sub-title>
                        <span *ngFor="let tag of playlist.tags">
                            {{tag}}
                        </span>
                    </mdl-list-item-sub-title>
                </mdl-list-item-primary-content>
                <mdl-list-item-secondary-content>
                    <a href="#"><mdl-icon>star</mdl-icon></a>
                </mdl-list-item-secondary-content>
            </mdl-list-item>
        </mdl-list>


        <!--<div class="mdl-grid">-->
            <!--<div class="mdl-cell mdl-cell&#45;&#45;4-col" *ngFor="let playlist of playlists" (click)="onSelect(playlist)">-->
                <!--<mdl-card class="playlist" mdl-shadow="2" >-->
                    <!--<mdl-card-title mdl-card-expand>-->
                        <!--<h4>-->
                            <!--{{playlist.name}}-->
                        <!--</h4>-->
                    <!--</mdl-card-title>-->
                    <!--<mdl-card-actions mdl-card-border>-->
                        <!--<button mdl-button mdl-colored mdl-ripple (click)="booknow()">-->
                            <!--Book now-->
                        <!--</button>-->
                        <!--<mdl-layout-spacer></mdl-layout-spacer>-->
                        <!--<mdl-icon>event</mdl-icon>-->
                    <!--</mdl-card-actions>-->
                <!--</mdl-card>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div class="mdl-layout-spacer"></div>
</div>
