<div class="outer">
  <div id="content">
    <h1 id="header">{{username}}'s page</h1>
    <div id="myPlaylists">
      <h2>My playlists</h2>

      <ul>
        <li *ngFor="let list of playlists">
          {{list}}
        </li>
      </ul>

    </div>
    <div>
    <h2>Recent searches</h2>

    <ul>
        <li *ngFor="let search of recentSearches">
          {{search}}
        </li>
      </ul>

    </div>
    <button class="button" (click)="logout()"> Log out! </button>
  </div>
</div>

<!-- Brukernavn, logout button -->
